.App {
  text-align: center;
  background-color: #daeaf6;
}

.title {
  margin: 12px;
  font-size: 36px;
  background: -webkit-linear-gradient(45.34deg, #1D2252 5.66%, rgb(0, 180, 219) 50.01%, rgb(0, 131, 176) 94.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  color: #fff;
  background: -webkit-linear-gradient(45.34deg, #1D2252 5.66%, rgb(0, 180, 219) 50.01%, rgb(0, 131, 176) 94.35%);
  padding: 20px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  margin: 12px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
}
